<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registro</title>
</head>

<body>
    <div class="User-content">
        <div class="validate-container ">
            <div class="container">
                <form [formGroup]="formulario" (submit)="registro()" class="formData">
                    <div style="margin-top: 15PX;" class="text-center">
                        <h3 class="text-danger">REGISTRO</h3>
                    </div>
                    <div class="form-group">
                        <input id="usuario" name="usuario" style="margin-bottom: 10px;"
                            class="form-control form-control-lg" type="text" placeholder="Usuario"
                            formControlName="usuario">
                        <input id="contrasenia" name="contrasenia" style="margin-bottom: 10px;"
                            class="form-control form-control-lg" type="password" placeholder="Contraseña"
                            formControlName="contrasenia">
                    </div>
                    <button [disabled]="formulario.invalid" type="submit"
                        class="btn btn-danger btn-lg botonFinal">Registrarse</button>
                </form>
            </div>
            <div>
                <p class="text-muted" style="font-size: 9px;">Desarrollado por Carlos Párraga - 2023</p>
            </div>
        </div>
    </div>
</body>

</html>