.User-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background.jpg");
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}

.User-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.validate-container {
  width: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4% 0 4% 0;
  border-radius: 8px;
  padding: 0;
}

.validate-container>div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  flex-direction: column;
}

.img {
  vertical-align: middle;
  border-style: none;
  width: 60%;
  margin-top: 10%;
}

.superior {
  margin-top: 10%;
  margin-bottom: 5%;
}

.buttonFileUpload {
  margin-top: 2em;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  border: none;
  background-color: gray;
  margin-right: 2em;
  width: 13em;
  height: 2em;
  background-color: #dc3545;
  color: white;
  font-size: 1.3em;
  border-radius: 2rem;
  margin-left: 2em;
  cursor: pointer;
}

.botonFinal{
  width: 100%;
  margin-top: 10px;
}

.tablaSuperior{
  padding-top: 20px;
}

.tablaInferior{
  padding-bottom: 20px;
}

.question-container {
  margin-bottom: 1em;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}

.limiteTexto{

  font-size: 10px;
  /*color: #6c757d;*/
  color: #20c997;
}

.limiteTextoAlerta{

  font-size: 10px;
  color: #dc3545;
}

@media screen and (max-width: 1600px) {
  .validate-container {
    width: 900px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4% 0 4% 0;
    border-radius: 8px;
    padding: 0;
  }

@media screen and (max-width: 930px) {
	.validate-container {
    width: 95%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4% 0 4% 0;
    border-radius: 8px;
    padding: 0;
  }
}
}