<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mesa de Servicios de TI del DASCD</title>
</head>

<body>

  <div class="User-content">
    <div class="validate-container ">
      <div class="container" style="text-align: justify;">
        <div class="superior text-center">
          <h4 class="text-muted">{{mensaje}} </h4>
          <h4 class="text-muted"><strong>¡Gracias!</strong></h4>
        </div>
        <button (click)="onReturnIni()" class="btn btn-danger btn-lg">Regresar</button>

        <div>
          <p class="text-muted" style="font-size: 9px;">Desarrollado por Carlos Párraga - 2023</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>